n8n-workflows/product-stock-monitor.json
{
  "name": "Product Stock Monitor",
  "nodes": [
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5000/api/products",
        "options": {}
      },
      "id": "1",
      "name": "Get All Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.quantityInStock }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2",
      "name": "Check Low Stock",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/api/webhook/low-stock-alert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"productId\": {{ $json.id }},\n  \"productName\": \"{{ $json.name }}\",\n  \"currentStock\": {{ $json.quantityInStock }},\n  \"alertTimestamp\": \"{{ $now }}\",\n  \"message\": \"Low stock alert for {{ $json.name }}\"\n}",
        "options": {}
      },
      "id": "3",
      "name": "Send Low Stock Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "email": "admin@skinet.com",
        "subject": "=Low Stock Alert: {{ $json.name }}",
        "message": "=Product {{ $json.name }} is running low on stock.\n\nCurrent Stock: {{ $json.quantityInStock }}\nProduct ID: {{ $json.id }}\nAlert Time: {{ $now }}\n\nPlease reorder soon.",
        "options": {}
      },
      "id": "4",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        300
      ]
    }
  ],
  "connections": {
    "Get All Products": {
      "main": [
        [
          {
            "node": "Check Low Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Low Stock": {
      "main": [
        [
          {
            "node": "Send Low Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Low Stock Alert": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "1",
  "tags": []
}
